<div class='modal-header'>
    <h4 class='modal-title'>{{id_person ? 'Modificare' : 'Adăugare'}} persoana</h4>
  </div>
  
  <div class='modal-body'>
    <div class='row'>
      <label class='col-2 control-label'>Nume*</label>
      <div class='col-9'>
        <input [(ngModel)]='modal.nume' class='form-control' placeholder='Nume...' maxlength='255' required/>
      </div>
    </div>
  
    <div class='row'>
      <label class='col-2 control-label'>Prenume*</label>
      <div class='col-9'>
        <input [(ngModel)]='modal.prenume' class='form-control' placeholder='Prenume...' maxlength='255' required />
      </div>
    </div>
  
    <div class='row'>
      <label class='col-2 control-label'>CNP*</label>
      <div class='col-9'>
        <input [(ngModel)]='modal.cnp' class='form-control' placeholder='CNP...' maxlength='13' required />
      </div>
    </div>
    
    <!-- <div class='row'>
      <label class='col-2 control-label'>Vârstă*</label>
      <div class='col-9'>
        <input [(ngModel)]='modal.varsta' class='form-control' placeholder='Vârstă...' maxlength='3' readonly />
      </div>
    </div> -->

    <div class='row'>
      <label class='col-2 control-label'>Mașini*</label>
      <div class='col-9'>
        <select [(ngModel)]='modal.masini' multiple class='form-control'>
          <option *ngFor="let masina of cars" [ngValue]="masina.id">{{ masina.marca }} - {{ masina.model }}</option>
        </select>
      </div>
    </div>
  </div> 
  
  <div class='modal-footer'>
    <button type='button' class='btn btn-outline-dark' (click)='activeModal.dismiss()'>Renunță</button>
    <button type='button' class='btn btn-success' (click)='save()'>Salvează</button>
  </div>
  